* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  font-family: 'Mynerve', cursive;
}

header {
  text-align: center;
  font-size: 38px;
  color: #f8f1e7;
  margin-bottom: 10px;
  padding: 10px;
}

#content {
  display: flex;
  height: 100vh;
  gap: 30px;
}

#left-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
}

#canvas-size {
  padding: 25px;
  background-color: transparent;
  border: 1px solid #f8f1e7;
  border-radius: 5px;
  color: #f8f1e7;
  font-family: 'Mynerve', cursive;
}

#middle-container {
  display: flex;
  justify-content: center;
  flex: 2;
}

#right-container {
  flex: 1;
}

#grid-container {
  /* flex: 1; */
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 70%;
  border: 3px solid #f8f1e7;
  border-radius: 5px;
}
.grid-square {
  background-color: black;
  color: #f8f1e7;
}

.on {
  background-color: #7fffd4;
}
